<!--FORMULARIOS INCOMPLETOS, NO SE COMO ACCEDER A LA VARIABLE #CONTENIDO DESDE EL BOTON ACCEDET DE MI NAVBAR.
LOS FORMULARIOS FINALES ESTAN EN EL COMPONENTE NAVBAR-->

<!--<ng-template #contenido  let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">Titulo Modal</h4>-->
<!--    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    Est es el contenido de este modal-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-success" (click)="modal.close()">Ok</button>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<button type="button" class="btn btn-outline-danger" (click)="modal.open(contenido)">lanzar modal</button>-->

<!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"-->
<!--     aria-labelledby="staticBackdropLabel" aria-hidden="true" class="modals">-->
<!--  <div class="modal-dialog modal-dialog-centered ">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="staticBackdropLabel">Inicio de Sesión</h5>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form #inicioSesionForm="ngForm" (ngSubmit)="onSubmit(inicioSesionForm.value)" target="_blank" id="form-login">-->
<!--          <div class="form-floating mb-3">-->
<!--            <input ngModel type="text" class="form-control" id="usuario"-->
<!--                   placeholder="usuario" required="required" name="usuario">-->
<!--            <label>Usuario </label>-->
<!--          </div>-->
<!--          <div class="form-floating">-->
<!--            <input ngModel type="password" class="form-control" id="floatingPassword" placeholder="Password"-->
<!--                   required="required" name="password">-->
<!--            <label for="floatingPassword">Password</label>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>-->
<!--        <input type="submit" class="btn btn-danger" value="Iniciar sesion" id="inicio-sesion">-->
<!--        <a href="#" id="registrarse" data-bs-toggle="modal"-->
<!--           data-bs-target="#staticBackdrop2">Resgistrarse</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="modal fade" data-bs-backdrop="static" id="staticBackdrop2" data-bs-keyboard="false" tabindex="-1"-->
<!--     aria-labelledby="staticBackdropLabel" aria-hidden="true" class="modals">-->
<!--  <div class="modal-dialog modal-dialog-centered ">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="staticBackdropLabel2">Registrarse</h5>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form action="https://postman-echo.com/post" method="post" target="_blank" id="form-registro">-->
<!--          <div class="form-floating mb-3">-->
<!--            <input type="text" class="form-control"-->
<!--                   placeholder="Ingrese su Nombre" required="required" name="nombre">-->
<!--            <label>Nombre </label>-->
<!--          </div>-->
<!--          <div class="form-floating mb-3">-->
<!--            <input type="text" class="form-control"-->
<!--                   placeholder="ingrese su Apellido" required="required" name="Apellido">-->
<!--            <label>Apellido </label>-->
<!--          </div>-->
<!--          <div class="form-floating mb-3">-->
<!--            <input type="email" class="form-control"-->
<!--                   placeholder="name@example.com" required="required" name="email">-->
<!--            <label>Email </label>-->
<!--          </div>-->
<!--          <div class="form-floating mb-3">-->
<!--            <input type="text" class="form-control" class="usuario"-->
<!--                   placeholder="usuario" required="required" name="usuario">-->
<!--            <label>Usuario </label>-->
<!--          </div>-->
<!--          <div class="form-floating">-->
<!--            <input type="password" class="form-control" placeholder="Password"-->
<!--                   required="required" name="password">-->
<!--            <label for="floatingPassword">Password</label>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>-->
<!--        <input type="submit" class="btn btn-danger" value="Crear Cuenta" class="crear-cuenta">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
