<div class="pelicula-principal">
  <div class="contenedor">
    <h3 class="titulo">Doctor Strange in the Multiverse of Madness</h3>
    <p class="descripcion">
      Viaja a lo desconocido con el Doctor Strange, quien, con la ayuda de
      tanto antiguos como nuevos aliados místicos, recorre las complejas y
      peligrosas realidades alternativas del multiverso para enfrentarse a
      un nuevo y misterioso adversario.
    </p>
    <a href="https://www.youtube.com/watch?v=Rt_UqUm38BI" target="_blank">
      <button role="button" class="boton">
        <i class="fa-solid fa-play"></i>Reproducir
      </button>
    </a>
  </div>
</div>
